body {
  color: #34495e;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Btns Scroll */

.button__instagram__container {
  position: fixed;
  bottom: 23px;
  right: 19px;
  width: 50px;
  height: 50px;
  z-index: 100;
}

.button__instagram {
  height: 3.3rem;
  width: 3.3rem;
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf);
  border-radius: 30%;
  position: relative;
}

.button__instagram::before {
  content: '';
  border: 4px solid #fff;
  border-radius: 30%;
  width: 2rem;
  height: 2rem;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}

.button__instagram::after {
  content: '';
  border: 4px solid #fff;
  border-radius: 100%;
  width: 11px;
  height: 11px;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}

.button__instagram__span {
  content: '';
  border: 4px solid #fff;
  border-radius: 100%;
  width: 0;
  height: 0;
  right: 12px;
  position: absolute;
  margin: auto;
  top: 12px;
}

.button__container {
  position: fixed;
  bottom: 0px;
  left: 2.1rem;
  width: 35px;
  height: 35px;
  z-index: -1;
}

.button__top {
  width: 0rem;
  height: 0rem;
  background-color: #555;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.button__top i {
  position: absolute;
  font-size: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #fff;
  transition: .2s;
}

.show {
  z-index: 10;
}

.show .button__top {
  animation: popup .3s ease-in-out;
  width: 2.2rem;
  height: 2.2rem;
  z-index: 11;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }
  50% {
    width: 2rem;
    height: 2rem;
  }
  100% {
    width: 2.2rem;
    height: 2.2rem;
  }
}

.btn-wsp {
  position: fixed;
  width: 50px;
  height: 50px;
  border: none;
  line-height: 55px;
  bottom: 80px;
  right: 16px;
  background: #00e676;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: .5s;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #00e676;
  background: white;
  transition: .5s;
}


/* Text */

a {
  color: inherit;
  text-decoration: none;
}

p, h2, h3, ul, li, ol, form, video, img, fieldset {
  margin-bottom: 16px;
}

:last-child {
  margin-bottom: 0;
}

h2 + h3,
p + h2,
p + h3,
ol + h2,
ol + h3,
ul + h2,
ul + h3,
form + h2,
form + h3 {
  margin-top: 24px;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1, h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

ul, ol {
  margin-left: 24px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

.centered {
  text-align: center;
}

.button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 28px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #2aa34f;
  cursor: pointer;
  -webkit-appearance: none;
  text-transform: uppercase;
}

.button + .button {
  margin-top: 16px;
}

.button:hover,
.button:focus {
  outline: none;
  background-color: #338a37;
  transition: background-color 1s ease-out;
  outline: 0;
}

.hidden-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


/* Sections */

.header {
  position: fixed;
  width: 100%;
  background-color: #1ebea5;
  color: #fff;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.23);
}

.header__top {
  display: flex;
  height: 75px;
  padding: 0 16px;
  align-items: center;
}

.header__center {
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.header__logo {
  display: block;
  height: 68px;
}

.header__toggle-menu {
  position: relative;
  margin-left: auto;
  height: 30px;
  width: 30px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.header__toggle-menu:focus {
  outline: none;
}

.header__toggle-menu-icon {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background: #fff;
 transition: transform 125ms ease-in-out, opacity 125ms ease-in-out;
}

.header__toggle-menu:focus .header__toggle-menu-icon {
  background-color: #7bef6d;
}

.header__toggle-menu--mouse-focus:focus .header__toggle-menu-icon {
  background-color: #fff;
}

.header__toggle-menu-icon--top {
  top: 6px;
}

.header__toggle-menu-icon--middle {
  top: 14px;
}

.header__toggle-menu-icon--bottom {
  bottom: 6px;
}

.header__toggle-menu--close .header__toggle-menu-icon--top {
  transform: translateY(8px) rotate(45deg);
}

.header__toggle-menu--close .header__toggle-menu-icon--middle {
  opacity: 0;
}

.header__toggle-menu--close .header__toggle-menu-icon--bottom {
  transform: translateY(-8px) rotate(135deg);
}

.menu {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
  margin: 0;
  list-style: none;
}

.menu__item {
  margin-bottom: 0;
}

.menu__item-link {
  display: block;
  padding: 8px 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.menu__item-link:hover,
.menu__item-link:focus {
  outline: none;
  color: #7bef6d;
}

.main {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 75px 16px 0 16px;
}

.main__section {
  border-bottom: 1px solid #ccc;
  padding: 32px 0;
}

.main__section:last-child {
  border-bottom: none;
}

.splash__details {
  margin-bottom: 32px;
}

video {
  display: block;
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
}

video::-internal-media-controls-overplay-cast-button {
  display: none;
}

video::-internal-media-controls-download-button {
  display:none
}

.splash__cta {
  text-align: center;
}

.features__column {
  margin-bottom: 16px;
}

.features__icon {
  height: 96px;
}

.features:last-child .features__column:last-child {
  margin-bottom: 0;
}

.content__global__contact {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(../images/background__contact.jpg);
  background-size: cover;
  max-width: 100%;
  color: #fff;
  padding: 0 1.5em;
  border-radius: 5px;
}

.content__contact {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.logo__contact {
  text-align: center;
  font-size: 3em;
}

.logo__contact span {
  color: #2aa34f;
}

.contact__wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact__wrapper > * {
  padding: 1em;
}

.contact__form {
  background: #222222;
}

.contact__form form p {
  margin: 0;
  padding: 1em;
}

.contact__form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact__form form .block {
  grid-column: 1 / 3;
}

.contact__form form button,
.contact__form form input,
.contact__form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #2aa34f;
}

.contact__form form button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: .5em;
  border: none;
  border-radius: 28px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #2aa34f;
  cursor: pointer;
  -webkit-appearance: none;
  text-transform: uppercase;
}

.contact__form form button:hover,
.contact__form form button:focus {
  outline: none;
  background-color: #338a37;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact__info {
  background: #000;
}

.contact__info h4,
.contact__info ul,
.contact__info p,
.contact__info {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact__info ul {
  list-style: none;
  padding: 1em;
}

.contact__info ul li {
  padding: .3em;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  padding: 16px;
  font-size: 12px;
  text-align: center;
  box-sizing: border-box;
}

.footer__text {
  margin: 0;
}

@media screen and (min-width: 768px) {

  .button {
    display: inline-block;
    width: auto;
  }

  .button + .button {
    margin-top: 0;
  }

  .header__center {
    display: flex;
  }

  .header__nav {
    margin-left: auto;
  }

  .header__dash-banner-item {
    display: block;
    margin: 0 24px 0 0;
  }

  .header__dash-banner-item:last-child {
    margin-left: auto;
    margin-right: 0;
  }

  .header__toggle-menu {
    display: none;
  }

  .menu {
    display: flex;
    height: auto !important;
    min-height: 100%;
  }

  .menu__item-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    border: none;
    position: relative;
  }

  .menu__item-link--sub {
    display: none;
  }

  .splash {
    display: flex;
    align-items: center;
    font-size: 24px;
  }

  .splash__details {
    margin: 0 32px 0 0;
  }

  .splash__title {
    font-size: 32px;
  }

video source {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  max-width: 400px;
  }

  .splash__cta {
    text-align: left;
  }

  .features {
    display: flex;
    margin: 0 -16px 32px;
  }

  .features:last-child {
    margin-bottom: 0;
  }

  .features__column {
    width: 50%;
    padding: 0 16px;
    box-sizing: border-box;
  }

  .content__global__contact {
    padding: 0 4rem;
  }

  .contact__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contact__wrapper > * {
    padding: 2em;
  }

  .block {
    width: 100%;
  }

  .contact__info h4,
  .contact__info ul,
  .contact__info p,
  .contact__info a {
    padding: 1em;
    text-align: left;
  }

}






